parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 5
			path: config/laraperf.php

		-
			message: '#^Cannot access property \$QUERY PLAN on mixed\.$#'
			identifier: property.nonObject
			count: 4
			path: src/Analysis/ExplainRunner.php

		-
			message: '#^Method Mateffy\\Laraperf\\Analysis\\ExplainRunner\:\:run\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Analysis/ExplainRunner.php

		-
			message: '#^Method Mateffy\\Laraperf\\Analysis\\ExplainRunner\:\:runGeneric\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Analysis/ExplainRunner.php

		-
			message: '#^Method Mateffy\\Laraperf\\Analysis\\ExplainRunner\:\:runPostgres\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Analysis/ExplainRunner.php

		-
			message: '#^Method Mateffy\\Laraperf\\Analysis\\ExplainRunner\:\:runPostgres\(\) should return array\{driver\: string, connection\: string, database\: string\|null, plan\: array\|string\|null, error\: string\|null\} but returns array\{driver\: ''pgsql'', connection\: string, database\: string\|null, plan\: mixed, error\: null\}\.$#'
			identifier: return.type
			count: 2
			path: src/Analysis/ExplainRunner.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/Analysis/N1Detector.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 7
			path: src/Analysis/N1Detector.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Commands/PerfExplainCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Commands/PerfExplainCommand.php

		-
			message: '#^Method Mateffy\\Laraperf\\Commands\\PerfExplainCommand\:\:resolveSql\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Commands/PerfExplainCommand.php

		-
			message: '#^Parameter \#1 \$string of method Illuminate\\Console\\Command\:\:line\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/PerfExplainCommand.php

		-
			message: '#^Parameter \$database of method Mateffy\\Laraperf\\Analysis\\ExplainRunner\:\:run\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/PerfExplainCommand.php

		-
			message: '#^Part \$database \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/PerfExplainCommand.php

		-
			message: '#^Part \$session\[''session_id''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/PerfExplainCommand.php

		-
			message: '#^Binary operation "\." between mixed and ''\:'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Cannot access offset ''file'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Cannot access offset ''line'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 5
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Offset ''n1''\|''slow''\|''summary'' might not exist on non\-empty\-array\{summary\?\: array\<string, mixed\>, slow\?\: array\<string, mixed\>, n1\?\: array\<string, mixed\>\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: array\{mixed, non\-falsy\-string, mixed, mixed, string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: array\{non\-falsy\-string, mixed, mixed, mixed, string, string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Parameter \#1 \$output of method Mateffy\\Laraperf\\Commands\\PerfQueryCommand\:\:renderCombinedTable\(\) expects array\<string, array\<string, mixed\>\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Parameter \#1 \$queries of method Mateffy\\Laraperf\\Commands\\PerfQueryCommand\:\:buildN1\(\) expects array\<int, array\<string, mixed\>\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Parameter \#1 \$queries of method Mateffy\\Laraperf\\Commands\\PerfQueryCommand\:\:buildSlow\(\) expects array\<int, array\<string, mixed\>\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Parameter \#2 \$queries of method Mateffy\\Laraperf\\Commands\\PerfQueryCommand\:\:buildSummary\(\) expects array\<int, array\<string, mixed\>\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Part \$output\[''n1''\]\[''threshold''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Part \$output\[''slow''\]\[''threshold_ms''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Part \$s\[''n1_candidate_count''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Part \$s\[''session_id''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Part \$s\[''total_queries''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/PerfQueryCommand.php

		-
			message: '#^Part \$s\[''total_time_ms''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/PerfQueryCommand.php





		-
			message: '#^Access to an undefined property PHPUnit\\Framework\\TestCase\:\:\$performanceResult\.$#'
			identifier: property.notFound
			count: 1
			path: src/Pest/Autoload.php

		-
			message: '#^Cannot call method isActive\(\) on class\-string\|object\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Pest/Autoload.php

		-
			message: '#^Cannot call method stop\(\) on class\-string\|object\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Pest/Autoload.php

		-
			message: '#^Parameter \#1 \$object_or_class of function method_exists expects object\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pest/Autoload.php

		-
			message: '#^Access to property \$count on an unknown class Mateffy\\Laraperf\\Pest\\Expectations\\N1Candidate\.$#'
			identifier: class.notFound
			count: 1
			path: src/Pest/Expectations/PerformanceExpectation.php

		-
			message: '#^Access to property \$normalizedSql on an unknown class Mateffy\\Laraperf\\Pest\\Expectations\\N1Candidate\.$#'
			identifier: class.notFound
			count: 1
			path: src/Pest/Expectations/PerformanceExpectation.php

		-
			message: '#^Access to property \$table on an unknown class Mateffy\\Laraperf\\Pest\\Expectations\\N1Candidate\.$#'
			identifier: class.notFound
			count: 1
			path: src/Pest/Expectations/PerformanceExpectation.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Pest/Expectations/PerformanceExpectation.php

		-
			message: '#^Method Mateffy\\Laraperf\\Pest\\Expectations\\PerformanceExpectation\:\:result\(\) should return Pest\\Expectation\<Mateffy\\Laraperf\\Testing\\PerformanceResult\> but returns Pest\\Expectation\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Pest/Expectations/PerformanceExpectation.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Mateffy\\Laraperf\\Analysis\\N1Candidate\>\:\:map\(\) expects callable\(Mateffy\\Laraperf\\Analysis\\N1Candidate, int\)\: non\-falsy\-string, Closure\(Mateffy\\Laraperf\\Pest\\Expectations\\N1Candidate\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Pest/Expectations/PerformanceExpectation.php

		-
			message: '#^Parameter \$c of anonymous function has invalid type Mateffy\\Laraperf\\Pest\\Expectations\\N1Candidate\.$#'
			identifier: class.notFound
			count: 1
			path: src/Pest/Expectations/PerformanceExpectation.php

		-
			message: '#^Part \$constraints\[''max_memory''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Pest/Expectations/PerformanceExpectation.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 2
			path: src/Pest/Expectations/QueryExpectation.php

		-
			message: '#^Method Mateffy\\Laraperf\\Pest\\Expectations\\QueryExpectation\:\:n1Candidates\(\) should return Illuminate\\Support\\Collection\<int, Mateffy\\Laraperf\\Analysis\\N1Candidate\> but returns array\<int, array\<string, mixed\>\>\|Illuminate\\Support\\Collection\<int, Mateffy\\Laraperf\\Analysis\\N1Candidate\>\.$#'
			identifier: return.type
			count: 1
			path: src/Pest/Expectations/QueryExpectation.php

		-
			message: '#^Method Mateffy\\Laraperf\\Pest\\Expectations\\QueryExpectation\:\:toExpectation\(\) should return Pest\\Expectation\<Illuminate\\Support\\Collection\<int, Mateffy\\Laraperf\\Testing\\QueryRecord\>\> but returns Pest\\Expectation\<Illuminate\\Support\\Collection\<int, Mateffy\\Laraperf\\Testing\\QueryRecord\>\|null\>\.$#'
			identifier: return.type
			count: 1
			path: src/Pest/Expectations/QueryExpectation.php

		-
			message: '#^Offset ''file'' on array\{file\: string, line\: int, function\: string, class\: string\|null\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Pest/Expectations/QueryExpectation.php

		-
			message: '#^Call to function method_exists\(\) with ''Pest\\\\PendingCalls\\\\TestCall'' and ''extend'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Pest/Functions.php

		-
			message: '#^Cannot call method maxN1Candidates\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Pest/Functions.php

		-
			message: '#^Cannot call method maxTotalDuration\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Pest/Functions.php

		-
			message: '#^Function Mateffy\\Laraperf\\Pest\\measure\(\) should return Mateffy\\Laraperf\\Testing\\PerformanceResult but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Pest/Functions.php

		-
			message: '#^Function Mateffy\\Laraperf\\Pest\\perf\(\) should return Mateffy\\Laraperf\\Testing\\PerformanceResult but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Pest/Functions.php

		-
			message: '#^PHPDoc tag @var with type PHPUnit\\Framework\\TestCase is not subtype of native type Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy\.$#'
			identifier: varTag.nativeType
			count: 3
			path: src/Pest/Functions.php

		-
			message: '#^Parameter \#1 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: src/Pest/Functions.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 7
			path: src/Pest/Functions.php

		-
			message: '#^Access to an undefined property PHPUnit\\Framework\\TestCase\:\:\$performanceCapture\.$#'
			identifier: property.notFound
			count: 1
			path: src/Pest/Hooks.php

		-
			message: '#^Access to an undefined property PHPUnit\\Framework\\TestCase\:\:\$performanceConstraints\.$#'
			identifier: property.notFound
			count: 1
			path: src/Pest/Hooks.php

		-
			message: '#^Access to an undefined property PHPUnit\\Framework\\TestCase\:\:\$performanceResult\.$#'
			identifier: property.notFound
			count: 1
			path: src/Pest/Hooks.php

		-
			message: '#^Trait Mateffy\\Laraperf\\Pest\\PerformanceTestingTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Pest/PerformanceTestingTrait.php

		-
			message: '#^Parameter \$bindings of class Mateffy\\Laraperf\\Testing\\QueryRecord constructor expects list\<mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/QueryLogger.php



		-
			message: '#^PHPDoc tag @return contains generic type Mateffy\\Laraperf\\Testing\\PerformanceResult\<mixed\> but class Mateffy\\Laraperf\\Testing\\PerformanceResult is not generic\.$#'
			identifier: generics.notGeneric
			count: 1
			path: src/Testing/Functions.php

		-
			message: '#^Parameter \$timeline of class Mateffy\\Laraperf\\Testing\\PerformanceResult constructor expects array\<int, array\{label\: string, timestamp\: float, memory\: int, metadata\: array\<string, mixed\>\}\>, non\-empty\-array\<int, array\{label\: string, timestamp\: float, memory\: int, metadata\: array\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Testing/PerformanceCapture.php

		-
			message: '#^Property Mateffy\\Laraperf\\Testing\\PerformanceCapture\:\:\$timeline type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Testing/PerformanceCapture.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 2
			path: src/Testing/PerformanceResult.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Testing/PerformanceResult.php

		-
			message: '#^Method Mateffy\\Laraperf\\Testing\\PerformanceResult\:\:n1Candidates\(\) should return Illuminate\\Support\\Collection\<int, Mateffy\\Laraperf\\Analysis\\N1Candidate\> but returns array\<int, array\<string, mixed\>\>\|Illuminate\\Support\\Collection\<int, Mateffy\\Laraperf\\Analysis\\N1Candidate\>\.$#'
			identifier: return.type
			count: 1
			path: src/Testing/PerformanceResult.php

		-
			message: '#^Method Mateffy\\Laraperf\\Testing\\PerformanceResult\:\:tablesAccessed\(\) should return list\<string\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Testing/PerformanceResult.php

		-
			message: '#^Offset ''timestamp'' on array\{label\: string, timestamp\: float, memory\: int, metadata\: array\<string, mixed\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: src/Testing/PerformanceResult.php

		-
			message: '#^Method Mateffy\\Laraperf\\Testing\\PerformanceSessionManager\:\:loadFromFile\(\) should return array\<string, mixed\>\|null but returns array\<mixed, mixed\>\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Testing/PerformanceSessionManager.php

		-
			message: '#^Parameter \$bindings of class Mateffy\\Laraperf\\Testing\\QueryRecord constructor expects list\<mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Testing/PerformanceSessionManager.php

		-
			message: '#^Property Illuminate\\Database\\Events\\QueryExecuted\:\:\$connectionName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Testing/PerformanceSessionManager.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/Testing/QueryRecord.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 11
			path: src/Testing/QueryRecord.php

		-
			message: '#^Parameter \$bindings of class Mateffy\\Laraperf\\Testing\\QueryRecord constructor expects list\<mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Testing/QueryRecord.php

		-
			message: '#^Parameter \$source of class Mateffy\\Laraperf\\Testing\\QueryRecord constructor expects array\<int, array\{file\: string, line\: int, function\: string, class\: string\|null\}\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Testing/QueryRecord.php
